<div *ngIf="customerData" class="mt-5">
  <h3>Récapitulatif des informations du client</h3>
  <p><strong>Civilité :</strong> {{ customerData.civilite }}</p>
  <p><strong>Nom :</strong> {{ customerData.nom }}</p>
  <p><strong>Prénom :</strong> {{ customerData.prenom }}</p>
  <p><strong>Adresse :</strong> {{ customerData.adresse }}</p>
  <p><strong>Code Postal :</strong> {{ customerData.cp }}</p>
  <p><strong>Ville :</strong> {{ customerData.ville }}</p>
  <p><strong>Téléphone :</strong> {{ customerData.tel }}</p>
  <p><strong>Email :</strong> {{ customerData.email }}</p>
  <p><strong>Login :</strong> {{ customerData.login }}</p>
</div>
